.grid-content {
  &.divider {
    margin-bottom: 18px;
    padding-bottom: 15px;
    border-bottom: 1px solid #058036;//#c0dcf1;

    @media(min-width: $screen-md) {
      margin-bottom: 36px;
      padding-bottom: 30px;
    }
  }
}

.grid-content-col {
  &.inner-well {
    > .neos-contentcollection {
      @extend .well;
    }
  }
}
